
.side-bar

 .side-header
  .side-box
   .side-box__user-name  
    masa
   .side-box__icon 
   -#  = link_to "#", class: "side-box__btn" do
   -#   = icon('fab',"#ffffff")
   -#  = link_to "#", class: "side-box__btn" do
   -#   = icon('fab',"#ffffff")


 .groups
