
.side-bar

 .side-header
  .side-box
   .side-box__user-name  
    masa
   .side-box__icon 
   -#  = link_to "#", class: "side-box__btn" do
   -#   = icon('fab',"#ffffff")
   -#  = link_to "#", class: "side-box__btn" do
   -#   = icon('fab',"#ffffff")


 .groups
  .group-name
   TECH::EXPERT
  .group-message
   まだメッセージはありません 
  .group-name
   男前サロン
  .group-message
   まだメッセージはありません
  .group-name
   スルメイカ同盟
  .group-message
   まだメッセージはありません 
  .group-name
   ユンソナの悪口を言い合う会
  .group-message
   まだメッセージはありません 
